table {
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
}
table *{
    background-color: white;
}
.inner {
    align-items: flex-start;
}

#user_info {
    width: 50%;
    padding: 4em;
    border: 2px dotted #f2849e; border-radius: 10px;
    text-align: center;
}
#user_info h2 {
    font-size: 1.4em;
    text-transform: none;
    letter-spacing: 5px;
    background-color: #ffbfce;
    border-radius: 3px;
    margin: 0 1.5em 2em;
}
#user_info h2 span {
    font-size: 1.2em;
}
#user_info #myInfo tr td:first-child {
    text-align: left;
    padding-left: 2em;
}
#user_info #myInfo tr td:last-child {
    text-align: right;
    padding-right: 2em;
}
#user_info #myRank {
    margin-top: 3em; margin-bottom: 0;
}
#user_info #myRank tr:first-child th{
    text-align: center;
    background-color: rgba(144, 144, 144, 0.04);
    padding: 0.75em;
}

#grade_info {
    width: 35%;
    padding: 2.5em 2em 0;
}
#grade_info table * {
    font-size: 0.95em;
}
#grade_info li{
    margin-bottom: 0.5em;
    
}
#grade_info #pointInfo {
    margin-bottom: 3em;
}
#grade_info #pointInfo tr td:first-child{
    text-align: left;
    padding-left: 1.5em;
}
#grade_info #pointInfo tr td:last-child {
    text-align: right;
    padding-right: 2em;
}
#grade_info #gradeInfo tr * {
    width: 20%;
}
#grade_info #gradeInfo tr th {
    background-color: #eeeeee;
    text-align: center;
    padding: 0.7em 1.2em;
}
#grade_info #gradeInfo tr:last-child td {
    font-size: 0.9em;
}